/*Требования:
Сверху это огромное поле ввода, а “лупа” это кнопка
Используем display: inline-block;
НЕ ИСПОЛЬЗОВАТЬ FLOAT!
Ширину элементов задаем в процентах
Здесь https://github.com/alexcss/huge-search-img лежат все необходимые картинки
Шрифт: Arial, sans-serif
Цвета:
Цвет текста в поиске и ссылки при наведении #ec5a62;
Цвет текста и placeholder’a #c2c2c2
Фон ссылки rgba(118,117,128,0.05)
Фон ссылки при наведении rgba(118,117,128,0.1)
Решение заливаем на GitHub.  должно открываться по 
 ссылкеhttp://alexcss.github.io/huge-search. 
 Где alexcss ваш логин.
*/
body {
    background: #F1F1F1;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.wrapper {
    width: 90%;
    margin: 5% auto;
}
input {
    border: none;
    line-height: 50px;
    background-color: transparent;
}
input[type=text] {    
    font-size: 100px;
    font-weight: bold;
    width: 80%;
    vertical-align: top; 
    
}
input[type=text]::-webkit-input-placeholder{
    color: #c2c2c2;
}
input[type=button] {
    background-image: url(../img/img/magnifier.svg);
    width: 100px;
    height: 100px;
}
.in {
    display: inline-block;
    width: 30%;
    margin-right: 2%;
    border: 3px solid black;
}
.main {
    margin-top: 5%;
}
.round {
    border-radius: 50%; 
    /*margin: 10px;*/  
}
img {
    vertical-align: middle;
    margin: 10px;
}
a {
    display: block;
    text-decoration: none;
    color: #c2c2c2;
}
.block {
    background: rgba(118,117,128,0.05);
    margin-bottom: 5px;
}
a:hover {
    background: rgba(118,117,128,0.1);
    color: #ec5a62;
}
.block1 {
    margin-bottom: 5px;
}