*, ::before, ::after {
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    font: 18px/24px 'Raleway', Sans-serif;
    color: #303030;
}
.wrap {
    width: 1200px;
    margin: auto;
}
/*.footer_ushi_png {
    background-image: url("dea38ba274-productman-восстановлено-assets/footer-ushi.png");
    position: absolute;
    left: 869px;
    top: 189px;
    width: 365px;
    height: 491px;
    z-index: 70;
  }*/
.menu {
      background: url(img/menu.png);
      width: 17px;
      height: 14px;
}
.nav-main {
    font-size: 0;
}
.nav-main-links a {
    font: 18px/1 Roboto, sans-serif;
    letter-spacing: 0.025em;
    color: #303030;
    text-decoration: none;
    margin-right: 50px;
}
.nav-main-links, .nav-main-logo {
    width: 50%;
    display: inline-block;
}

.product-item {

}
.product-img {
    transition: all .5s;
}
.product-item:hover .product-img {
    transform: scale(1.05);
}
.subscribe {
    background: white;
    border-radius: 100px;
    width: 700px;
    margin: 50px auto;
    height: 70px;
}