.grid {
    width: 1200px;
    margin: 5% auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 165px 150px 185px 145px;
}
.grid div {
	background-position: center;
}
.grid div:nth-child(1) {
    background-image: url("http://via.placeholder.com/600x150/AFDFBF");
    grid-column: 1/7;
}
.grid div:nth-child(2) {
    background-image: url("http://via.placeholder.com/600x150/68C5B8");
    grid-column: 7/-1;
}
.grid div:nth-child(3) {
    background-image: url("http://via.placeholder.com/600x320/FA688A/fff");
    grid-column: 1/7;
    grid-row: 2/4;
}
.grid div:nth-child(4) {
    background-image: url("http://via.placeholder.com/200x165/8A95EF/fff");
    grid-column: 7/9;
    grid-row: 2;
}
.grid div:nth-child(5) {
    background-image: url("http://via.placeholder.com/200x165/8A95EF/fff");
    grid-column: 9/11;
    grid-row: 2;
}
.grid div:nth-child(6) {
    background-image: url("http://via.placeholder.com/200x165/8A95EF/fff");
    grid-column: 11/-1;
    grid-row: 2;
}
.grid div:nth-child(7) {
    background-image: url("http://via.placeholder.com/300x150/FFC569");
    grid-column: 7/10;
    grid-row: 3;
}
.grid div:nth-child(8) {
    background-image: url("http://via.placeholder.com/300x150/FFC569");
    grid-column: 10/-1;
    grid-row: 3;
}
.grid div:nth-child(9) {
    background-image: url("http://via.placeholder.com/400x185/588CC7/fff");
    grid-column: 1/5;
    grid-row: 4;
    height: 185px;
}
.grid div:nth-child(10) {
    background-image: url("http://via.placeholder.com/400x185/588CC7/fff");
    grid-column: 5/9;
    grid-row: 4;
    height: 185px;
}
.grid div:nth-child(11) {
    background-image: url("http://via.placeholder.com/200x195/588CC7/fff");
    grid-column: 9/11;
    grid-row: 4;
    height: 185px;
}
.grid div:nth-child(12) {
    background-image: url("http://via.placeholder.com/200x195/588CC7/fff");
    height: 185px;
    grid-column: 11/-1;
    grid-row: 4;
}
.grid div:nth-child(13) {
    background-image: url("http://via.placeholder.com/200x145/6652AD/fff");
    grid-column: 1/3;
    grid-row: 5;
}
.grid div:nth-child(14) {
    background-image: url("http://via.placeholder.com/600x135/6652AD/fff");
    grid-column: 3/9;
    grid-row: 5;
}
.grid div:nth-child(15) {
    background-image: url("http://via.placeholder.com/400x135/6652AD/fff");
    grid-column: 9/-1;
    grid-row: 5;
}