body {  
    font-family: 'Montserrat', sans-serif;
}

header {
    background: url(../img/Header.png);
    background-size: cover;
    background-position: center; 
    height: 500px;
    width: 100vh;
    padding: 0 calc((100% - 1140px)/2);
}
    

.grid {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 150px);
}
.grid div {
	background-color: #28314E;
	border: ;
	border-radius: 5px;
	padding: 8px 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}
