/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Muli', sans-serif; */
body{
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}
a{
	font-family: 'Muli', sans-serif;
}
p{
	font-size: 16px;
	color: #e8e8e8;
}
.block{
	background-color: #C7C9D2;
	border: 1px solid #706262;
}
.no-padding{
	padding-left: 0;
	padding-right: 0;
}
.no-margin{
	margin-right: 0;
	margin-left: 0;
}
.container{
	max-width: 1770px;
}
.preload{
	width: 0;
	opacity: 0;
}
/* =========================================== */
/* ===== header ===== */
.header{
	height: 820px;
	background-image: url(../img/header-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
}
.header h1{
	margin-top: 250px;
	margin-bottom: 0;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
}
.header h3{
	font-size: 22px;
	letter-spacing: 4px;
	width: 100%;
	margin-top: 0;
	margin-bottom: 40px;
}
.header-input{
	margin: 0 auto;
	width: 30%;
	height: 60px;
}
.header-input input{
	height: 60px;
	width: 77%;
	border: none;
	color: #999;
	font-size: 14px;
	padding-left: 7px;
	padding-right: 7px;
	display: block;
	float: left;
}
.header-input button:active,
.header-input button:focus,
.header-input input:active,
.header-input input:focus{
	outline: none;
}
.header-input input::placeholder{
	text-align: center;
}
.header-input button{
	background-color: #5474fd;
	width: 23%;
	height: 60px;
	border: 2px solid #fff;
	padding: 22px 0;
	transition-duration: 0.2s;
	transition-property: background-color;
	display: block;
	float: left;
}
.header-input button:hover{
	background-color: #3254e5;
}
.header-scroll-down{
	margin: 150px auto 0 auto;
	display: block;
	font-weight: 300;
}
.header-scroll-down p{
	font-size: 14px;
	margin-bottom: 0;
	user-select: none;
	cursor: default;
}
.header-scroll-down i{
	font-size: 20px;
}
/* ===== header-navbar ===== */
.navbar-default{
	max-width: 1770px;
	margin: 0 auto;
	background-color: #5474fd;
	border-radius: 0;
	border: none;
}
.navbar-brand{
	margin-left: 200px !important;
	color: #fff !important;
	font-weight: 700;
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-right{
	margin-right: 200px !important;
}
.navbar-right a:hover{
	color: #fff !important;
	background-color: #3254e5 !important;
}
.navbar-right li:hover{
	color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-default .navbar-toggle{
	border-color: #fff;
}
.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus{
	background-color: #5474fd !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
	border-color: #5474fd;
}
.navbar-nav{
	margin: 0;
}
.navbar-collapse{
	padding-right: 0;
	padding-left: 0;
}

/* ===== choose-us ===== */
.choose-us{
	height: 685px;
	background-image: url(../img/sec3-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
}
.choose-us-row{
	margin: 0 auto;
	text-align: left;
	margin-top: 100px;
}
.choose-us-row h1{
	margin-top: 80px;
	margin-bottom: 50px;
	margin-left: 10%;
}
.choose-us-row p{
	margin-bottom: 35px;
	margin-left: 10%;
	max-width: 60%;
}
.choose-us-pic1{
	margin-right: 37%;
}
.choose-us-pic2{
	margin-top: 7px;
	margin-right: 10%;
}
.choose-us-row-col2{
	text-align: right;
}
.main-btn{
	padding: 18px 26px;
	color: #edf0ff;
	background-color: #5474fd;
	transition: background 0.1s;
	margin-left: 10%;
}
.main-btn:hover{
	text-decoration: none;
	background-color: #3254e5;
	color: #edf0ff;
}
.choose-us-second-p{
	margin-bottom: 60px !important;
}
/* ===== choose-us-footer ===== */
.choose-us-footer{
	background-color: #333;
	min-height: 300px;
	text-align: center;
}
.navbar-center {
    float: none;
    margin: 0 auto;
    display: flex;
	margin-top: 50px;   
}
.navbar-center {
	justify-content: space-around;
}
.navbar-center p {
	font-size: 36px;
	font-weight: 40px;
}
/* ===== main-section-top ===== */
.main-section-top{
	height: 700px;
	background-image: url(../img/sec5-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
}
.main-section-top-row{
	width: 70%;
	margin: 215px auto 0 auto;
}
.main-section-top-row .contain-box{
	background-color: rgba(51,51,51,0.9);
	text-align: left;
	width: 540px;
	height: 370px;
}
.main-section-top h4{
	color: #e8e8e8;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: 25px;
}
.main-section-top h3{
	color: #e8e8e8;
	font-size: 20px;	
	margin-left: 20px;
	margin-bottom: 25px;
}
.main-section-top p{
	margin-left: 20px;
	margin-bottom: 70px;
}
.main-section-top .main-btn{
	margin-left: 20px;
	padding: 18px 45px;
}
/* ===== main-section-bottom ===== */
.main-section-bottom{
	height: 700px;
	background-image: url(../img/sec6-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
}
.main-section-bottom-row{
	width: 70%;
	margin: 215px auto 0 auto;
}
.main-section-bottom-row .contain-box{
	background-color: rgba(51,51,51,0.9);
	text-align: left;
	width: 540px;
	height: 370px;
}
.main-section-bottom h4{
	color: #e8e8e8;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: 25px;
}
.main-section-bottom h3{
	color: #e8e8e8;
	font-size: 20px;	
	margin-left: 20px;
	margin-bottom: 25px;
}
.main-section-bottom p{
	margin-left: 20px;
	margin-bottom: 70px;
}
.main-section-bottom .main-btn{
	margin-left: 20px;
	padding: 18px 45px;
}
/* ===== review-section ===== */
.review-section{
	height: 731px;
	background-image: url(../img/sec7-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	text-align: center;
}
.review-section .row{
	width: 70%;
	margin: 100px auto 0 auto;
	height: 280px;
	background-color: #333;
}
.review-section h1{
	font-size: 36px;
	margin-top: 100px;
}
.review-section-box{
	margin: 0 auto;
	height: 280px;
	width: 900px;
	margin-top: 110px;
	background-color: #333;
}
.review-section-box h3{
	padding-top: 40px;
	margin-bottom: 25px;
	margin-right: 30px;
	color: #e8e8e8;
	text-transform: uppercase;
	font-size: 20px;
}
.review-section-box p{
	margin: 0 30px 65px auto;
}
.review-section-box a{
	margin: 0 5px;
}
.review-section-box a:last-child{
	margin-right: 30px;
}
.review-section-box img{
	float: left;
	margin-right: 30px;
}
.cubic-btn{
	width: 15px;
	height: 15px;
	border: 1px solid #e8e8e8;
	display: inline-block;
}
.cubic-btn:hover{
	border-color: #5474fd;
	cursor: pointer;
}

/* ===== footer-section ===== */
.footer-section{
	height: 260px;
	background-color: #232323;
	text-align: center;
	font-size: 10px;
	color: #7D7C7C;
}
.footer-section h1{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 70px;
	color: #fff;
}
.footer-section h3{
	font-size: 16px;
	margin-top: 10px;
	letter-spacing: 0.4px;
	color: #fff;
}
.footer-section i{
	color: #e8e8e8;
	font-size: 15px;
	margin: 20px 10px;

}
.footer-section i:hover{
	color: #5474fd;
	cursor: pointer;
}
.footer-section h4{
	font-size: 10px;
}
/* =========================================== */
@media (min-width: 1200px){
	.container {
  	width: 100%;
  }
}
@media only screen and (max-width : 1500px) {
	.header-input input{
		width: 71%;
	}
	.header-input button{
		width: 29%;
	}
	.choose-us-row h1{
		margin-left: 5%;
		margin-top: 60px;
	}
	.choose-us-row p{
		margin-left: 5%;
		max-width: 70%;
	}
	.choose-us-pic1{
		margin-right: 32%;
	}
	.choose-us-pic2{
		margin-right: 5%;
	}
	.main-btn{
		margin-left: 5%;
	}
	.main-section-top-row{
		width: 80%;
	}
	.main-section-bottom-row{
		width: 80%;
	}
}

@media only screen and (max-width : 1200px) {
	.header-input{
		width: 40%;
	}
	.header-input input{
		width: 75%;
	}
	.header-input button{
		width: 25%;
	}
	.navbar-default{
		max-width: 970px;
	}
	.navbar-brand{
		margin-left: 50px !important;
	}
	.navbar-right{
		margin-right: 50px !important;
	}
	.choose-us-row{
		margin: 0 auto;
		text-align: left;
		margin-top: 0;
	}
	.choose-us-row h1{
		margin-top: 45px;
		margin-bottom: 50px;
		margin-left: 5%;
	}
	.choose-us-row p{
		margin-bottom: 35px;
		margin-left: 5%;
		max-width: 60%;
	}
	.choose-us-pic1{
		margin-right: 0%;
	}
	.choose-us-pic2{
		margin-top: 0;
		margin-left: 20px;
		margin-right: 0;
	}
	.choose-us-row-col2{
		text-align: center;
		margin-top: 70px;
	}
	.main-btn{
		margin-left: 5%;
	}
	.choose-us-second-p{
		margin-bottom: 50px !important;
	}
	.choose-us-footer img{
		width: 70%;
	}
	.choose-us-footer{
		min-height: 250px;
	}
}

@media only screen and (max-width : 992px) {
	.header-input{
		width: 45%;
	}
	.header-input input{
		width: 70%;
	}
	.header-input button{
		width: 30%;
	}
	.navbar-default{
		max-width: 750px;
	}
	.navbar-brand{
		margin-left: 10px !important;
	}
	.navbar-right{
		margin-right: 10px !important;
	}
	.choose-us-row{
		margin-top: 50px;
	}
	.choose-us-pic1{
		width: 45%;
	}
	.choose-us-pic2{
		width: 45%;
	}
	.choose-us-second-p{
		margin-bottom: 30px !important;
	}
	.choose-us-footer{
		min-height: 230px;
	}
	.choose-us-footer img{
		width: 90%;
	}
	.main-section-top-row{
		width: 100%;
	}
	.main-section-bottom-row{
		width: 100%;
	}
	.main-section-bottom-row .contain-box{
		margin-left: 25%;
	}
	.review-section-box{
		width: 700px;
	}
	.review-section-box p{
		margin: 0 auto;
		margin-right: 30px;
		margin-bottom: 25px;
	}
}

@media only screen and (max-width : 768px) {
	.header-input{
		width: 70%;
	}
	.header-input input{
		width: 70%;
	}
	.header-input button{
		width: 30%;
	}.navbar-right{
		margin-right: 0px !important;
	}
	.header{
		margin-top: 0px;
	}
	.choose-us-row-col2{
		margin-top: 30px;
	}
	.main-btn{
		font-size: 10px;
	}
	.main-section-top-row{
		width: 95%;
		margin: 215px auto 0 auto;
	}
	.main-section-top-row .contain-box{
		width: 100%;
	}
	.main-section-top h4{
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: 25px;
		padding-top: 50px;
	}
	.main-section-top h3{
		font-size: 18px;	
		margin-bottom: 25px;
		margin-top: 0;
	}
	.main-section-top p{
		margin-bottom: 70px;
	}
	.main-section-top .main-btn{
		padding: 18px 40px;
	}
	.main-section-bottom-row{
		width: 95%;
		margin: 215px auto 0 auto;
	}
	.main-section-bottom-row .contain-box{
		width: 100%;
	}
	.main-section-bottom h4{
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: 25px;
		padding-top: 50px;
	}
	.main-section-bottom h3{
		font-size: 18px;	
		margin-bottom: 25px;
		margin-top: 0;
	}
	.main-section-bottom p{
		margin-bottom: 70px;
	}
	.main-section-bottom .main-btn{
		padding: 18px 40px;
	}
	.main-section-bottom-row .contain-box{
		margin-left: 0%;
	}
	.review-section-box{
		margin: 0 auto;
		height: auto;
		width: 95%;
		margin-top: 70px;
		background-color: transparent;
	}
	.review-section-box h3{
		padding-top: 25px;
		margin-bottom: 20px;
		margin-right: 0px;
	}
	.review-section-box p{
		margin-right: 0px;
		margin-bottom: 45px;
	}
	.review-section-box a:last-child{
		margin-right: 0px;
	}
	.review-section-box img{
		float: none;
		margin-right: 0px;
	}
}

@media only screen and (max-width : 480px) {
	.hidden-xxs{
		display: none;
	}
	.header-input{
		width: 290px;
	}
	.header-input input{
		width: 72%;
	}
	.header-input button{
		width: 28%;
		font-size: 12px;
	}
	.header{
		height: 500px;
	}
	.header h1{
		margin-top: 136px;
		margin-bottom: 15px;
	}
	.header-scroll-down{
		margin: 80px auto 0 auto;
	}
	.choose-us-row p{
		max-width: 90%;
		margin-left: 2%;
	}
	.choose-us-row h1{
		margin-left: 2%;
	}
	.choose-us-pic1{
		width: 90%;
	}
	.choose-us-second-p{
		margin-bottom: 30px !important;
	}
	.main-btn{
		margin-left: 2%;
		font-size: 10px;
	}
	.main-btn{
		font-size: 8px;
		padding: 11px;
	}
	.choose-us-footer img{
		margin-top: 55px;
	}
	.choose-us-footer{
		min-height: 200px;
	}
	.main-section-top p{
		margin-bottom: 40px;
	}
	.main-section-top h4{
		padding-top: 40px;
	}
	.main-section-bottom p{
		margin-bottom: 40px;
	}
	.main-section-bottom h4{
		padding-top: 40px;
	}
	.review-section-box{
		width: 95%;
		margin-top: 40px;
	}
	.review-section-box h3{
		padding-top: 5px;
		margin-bottom: 20px;
		margin-right: 0px;
	}
	.review-section-box img{
		width: 80%;
	}
	.review-section h1 {
    margin-top: 55px;
	}
	.review-section{
		height: 705px;
	}
	.review-section-box p{
		margin-bottom: 75px;
	}
}

@media only screen and (max-width : 320px) {
	.choose-us-pic1{
		width: 60%;
	}
	.choose-us-row-col2{
		margin-top: 22px;
	}
	.choose-us-footer img{
		margin-top: 28px;
	}
	.choose-us-footer{
		min-height: 130px;
	}
	.main-section-top p{
		margin-bottom: 40px;
	}
	.main-section-top h4{
		padding-top: 30px;
	}
	.main-section-bottom p{
		margin-bottom: 40px;
	}
	.main-section-bottom h4{
		padding-top: 30px;
	}
	.review-section-box p{
		margin-bottom: 60px;
	}
	.header h1{
		font-size: 45px;
	}
}