div {
    width: 400px;
    height: 400px;
    background: #252137;
    background: 
      linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
      linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
      linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
      linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
      #253137;
    background-size: 100px 100px;
  }
  .shash {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    shad;;
  }
  .red {
    background: red;
  }
  ._1 {
    top: 362px;
    left: 12px;
  }
  ._2 {
    top: 362px;
    left: 112px;
  }
  ._3 {
    top: 362px;
    left: 212px;
  }
  ._4 {
    top: 362px;
    left: 312px;
  }
  ._5 {
    top: 312px;
    left: 62px;
  }
  ._6 {
    top: 312px;
    left: 162px;
  }
  ._7 {
    top: 312px;
    left: 262px;
  }
  ._8 {
    top: 312px;
    left: 362px;
  }
  ._9 {
    top: 262px;
    left: 12px;
  }
  ._10 {
    top: 262px;
    left: 112px;
  }
  ._11 {
    top: 262px;
    left: 212px;
  }
  ._12 {
    top: 262px;
    left: 313px;
  }
  .black {
    background: black;
  }
  ._13 {
    top: 13px;
    left: 63px;
  }
  ._14 {
    top: 13px;
    left: 163px;
  }
  ._15 {
    top: 13px;
    left: 263px;
  }
  ._16 {
    top: 13px;
    left: 363px;
  }
  ._17 {
    top: 63px;
    left: 13px;
  }
  ._18 {
    top: 63px;
    left: 113px;
  }
  ._19 {
    top: 63px;
    left: 213px;
  }
  ._20 {
    top: 63px;
    left: 313px;
  }
  ._21 {
    top: 113px;
    left: 63px;
  }
  ._22 {
    top: 113px;
    left: 163px;
  }
  ._23 {
    top: 113px;
    left: 263px;
  }
  ._24 {
    top: 113px;
    left: 363px;
    box-shadow:
     inset 0 -3px 10px rgba(255,255,255,1),
     inset 0 3px 10px rgba(0,0,0,.4),
     0 2px 4px rgba(0,0,0,.9);
  }
  