.section {
    display: block;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

nav {
    font-size: 0;
    padding-top: 50px;
    height: 30vh;
}

.section1_nav {
    display: inline-block;
}

.section1_nav a {
    font-family: "Lato";
    color: #fffffe;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.874;
    text-align: left;
    -webkit-transform: scaleY(1.0054);
    -ms-transform: scaleY(1.0054);
    transform: scaleY(1.0054);
    margin-left: 30px;
    text-decoration: none;
}

.section1 {
    background: no-repeat url(../img/section1_bg.jpg);
    background-size: cover;
}

.section1_nav_logo {
    margin: 0 415px 0 215px;
}

.section1_article {
    /*height: 60vh;*/
    width: 47vw;
    margin: 0 auto;
}
.section1_article h1 {
    font-family: "Raleway";
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
}

.section1_article p {
    font-family: "Lato";
    color: #fffefe;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.364;
    text-align: center;
}

div.line {
    background-color: white;
    height: 1px;
    width: 10%;
    margin: 0 auto;
}
.section1_footer {
    text-align: center;
    margin-top: 200px;
}
.section2 {
    padding: 5%;
    
}
.section2 h1 {
    font-family: Raleway;
    color:  #222222;
    font-size: 35px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 60px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.section2 .line {
    background: #222222;
    width: 86px;
    height: 2px;
    margin: 5% auto;
}
.section2_figur {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}
.section2_figur figure {
    display: inline-block;
    width: 25%;
    /* margin: 1%;
    text-align: center; */
}
.section2_figur figcaption {
    line-height: 1.5em;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
    /*--------------s3---------*/
.section3 {
    background: no-repeat url(../img/s3_back.png);
    background-size: cover;
    position: relative;
}
.section3__text {
    height: 100vh;
    width: 40vw;
    padding: 10%;
    font-family: "Lato";
    color:  #ffffff;
    
}
.section3__text--head {
    text-transform: uppercase;
    font-size: 44.67px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 60px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    transform: scaleY(1.0092);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}
.section3__text--content {
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.section3__text--a {
    color: #ffffff;
}
.section3__text--hover {
    display: none;
}
.section3__text--a:hover {
    display: none;
}
.section3__text--a:visited {
    display: none;
}
.section3__text--a:hover+.section3__text--hover {
    display: block;
}
.section3__text--a:visited+.section3__text--hover {
    display: block;
}
.section3__mob {
    position: absolute;
    bottom: 0;
    left: 60vw;
    width: 40%;
}