*,
::before,
::after {
    margin: 0;
    padding: 0;
}
/*body {
    background: #eee;
    font: 18px/24px 'Raleway', sans-serif;
    color: #303030;*/
}

.wrap {
    width: 100vm;
    margin: auto;
}

.header {
    padding: 88px 0;
    background-image: url(../img/back1.png);
    width: 100vw;
    height: 100vh;
}
.nav-main {
    font-size: 0;
    margin: 0 50px;
}

.nav-main-links a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color:  #fffffe;
    font-size: 13.92px;/* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 40px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 10px;
    /*transform: scaleY(1.0054);*/
}

.nav-main-links,
.nav-main-logo {
    width: 50%;
    display: inline-block;
} 

.nav-main-links {
    text-align: right;
}
.head-text {
    text-align: center;
}