<video id="videojs-w0" class="video-js vjs-default-skin vjs-big-play-centered" width="970px" height="400px" poster="http://www.videojs.com/img/poster.jpg" controls="" preload="auto">
<source type="video/mp4" src="/uploads/videos/BEM.mp4">
<track src="http://vjs.zencdn.net/vtt/captions.vtt" kind="captions" srclang="en" label="English">
</video>