*,
::before,
::after {
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    font: 18px/24px 'Raleway', sans-serif;
    color: #303030;
}

.wrap {
    width: 1200px;
    margin: auto;
}

.header {
    padding: 88px 0;
    background: no-repeat radial-gradient(circle, rgba(255,255,255,1) 0%, #eee 31%, #eee 100%);
}

.nav-main {
    font-size: 0;
}

.nav-main-links a {
    font: 18px/1 Roboto, sans-serif;
    letter-spacing: .025em;
    color: #303030;
    text-decoration: none;
    margin-right: 50px;
}

.nav-main-links,
.nav-main-logo {
    width: 50%;
    display: inline-block;
} 

.nav-main-links {
    text-align: right;
}

.menu {
    display: inline-block;
    width: 17px;
    height: 14px;
    background: url(img/Menu.png);
}

.product {
    background: white;
    border-radius: 5px;
    padding: 70px 63px;
    font-size: 0;
}

.product-item {
    width: 328px;
    height: 387px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    margin: 0 15px;
    background: #eeeeee;
    cursor: pointer;
}



.product-item-strong {
    width: 686px;
}

.product-item:nth-child(1) .product-image {
    margin: -75px -95px;
}
.product-item:nth-child(2) .product-image {
    margin: -75px 45px;
}
.product-item:nth-child(3) .product-image {
    margin: 5px 5px;
}
.product-item:nth-child(4) .product-image {
    margin: 5px 5px;
}
.product-item:nth-child(5) .product-image {
    margin: 5px 5px;
}

.product-image {
    transition: all .5s;
}
.product-overlay {
    display: none;
    width: inherit;
    height: inherit;
    background: red;
    color: white;
    font-size: 20px;
}
.product-item:hover .product-overlay {
    display: block;
}
.product-item:hover .product-image {
    display: none;
    transform: scale(1.05);
}

.subscribe {
    background: white;
    border-radius: 100px;
    width: 715px;
    margin: 50px auto;
    height: 70px;
    /* overflow: hidden; */
}
.subscribe-button {
    background: red;
    color: white;
    font: 18px/1 Roboto, sans-serif;
    text-transform: uppercase;
    border: 0;
    height: 100%;
    width: 215px;
    border-radius: 0 100px 100px 0;
}
.subscribe-form {
    height: 100%;
    font-size: 0;
}
.subscribe-input {
    width: 400px;
    border: 0;
    height: 100%;
    margin-left: 100px;
    vertical-align: top;
    font-size: 18px;
}

.inline {
      font-size: 0;
      margin-bottom: 88px;
}
.in-inl1, 
.in-inl2 {
    width: 50%;
    display: inline-block;
}
.in-inl1 {
    text-align: right;
}
.in-inl1 h1 {
    font-family: Raleway;
    color:  #303030;
    font-size: 150px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 150px;/* Приближение из-за подстановки шрифтов */
    
}
.in-inl1 p {
    font-family: Roboto;
    color:  #303030;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 36px;/* Приближение из-за подстановки шрифтов */
    margin-bottom: 25px;
}
.slider {
    margin-top: 130px;
}
.slider-image {
    margin-left: 98px;
}
.in-inl1 a {
    text-decoration: none;
    font-family: Roboto;
    color:  #e10011;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 36px;
}
.in-circle {
    font-size: 0;
    text-align: center;
}
.circle {
    display: inline-block;
    border-radius: 50%;
    background-color:  black;
    width: 11px;
    height: 11px;
    margin-right: 9px;
}
.circle:first-child {
    background: red;
}
.product-text h1 {
    font-family: Raleway;
    color:  #303030;
    font-size: 48px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 150px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.product-text p {
    font-family: Raleway;
    color:  #303030;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    /*display: block;
    width: 60%;*/
}
.product-text img {
    display: block;  
    margin: 0 auto; 
}
.socialki a {
    display: inline-block;
    margin: 0 auto;
}